.pergunta-container {
    margin-bottom: 1em; /* Adicione a margem inferior desejada */
    margin-top: 1em;
  }
  
  .resposta-container {
    
    margin-top: 0.5em; /* Adicione a margem inferior desejada */
  }